@use "../../styles/mixin" as m;
@use "../../styles/variables" as v;

.btn {
  position: relative; // 相对定位
  display: inline-block; // 既可以设置宽高，又不会独占一行
  font-weight: v.$btn-font-weight;
  line-height: v.$btn-line-height;
  color: v.$body-color;
  white-space: nowrap; //  防止按钮内的文本换行
  text-align: center; // 按钮内文本的对齐方式为居中对齐
  vertical-align: middle; // 钮的垂直对齐方式为居中对齐
  background-image: none;
  border: v.$btn-border-width solid transparent;
  // 使用 mixin，可以代码重用
  @include m.button-size(
    v.$btn-padding-y,
    v.$btn-padding-x,
    v.$btn-font-size,
    v.$border-radius
  );
  box-shadow: v.$btn-box-shadow;
  cursor: pointer;
  transition: v.$btn-transition;
  // 定义按钮在禁用状态下的样式
  &.disabled, // class
  &[disabled] {
    // disabled attribute 属性
    cursor: not-allowed; //  设置禁用状态下的光标样式为禁止
    opacity: v.$btn-disabled-opacity; // 透明度
    box-shadow: none; // 移除阴影
    // > 是子选择器，* 是通配符选择器
    > * {
      // 禁用子元素的指针事件
      pointer-events: none;
    }
  }
}

.btn-lg {
  @include m.button-size(
    v.$btn-padding-y-lg,
    v.$btn-padding-x-lg,
    v.$btn-font-size-lg,
    v.$btn-border-radius-lg
  );
}
.btn-sm {
  @include m.button-size(
    v.$btn-padding-y-sm,
    v.$btn-padding-x-sm,
    v.$btn-font-size-sm,
    v.$btn-border-radius-sm
  );
}

.btn-primary {
  @include m.button-style(
    v.$primary,
    v.$primary,
    v.$white
  );
}
.btn-danger {
  @include m.button-style(
    v.$danger,
    v.$danger,
    v.$white
  );
}

.btn-default {
  @include m.button-style(
    v.$white,
    v.$gray-400,
    v.$body-color,
    v.$white,
    v.$primary,
    v.$primary
  );
}

.btn-link {
  font-weight: v.$font-weight-normal;
  color: v.$btn-link-color;
  text-decoration: v.$link-decoration;
  box-shadow: none;
  &:hover {
    color: v.$btn-link-hover-color;
    text-decoration: v.$link-hover-decoration;
  }
  &:focus,
  &.focus {
    text-decoration: v.$link-hover-decoration;
    box-shadow: none;
  }
  &:disabled,
  &.disabled {
    color: v.$btn-link-disabled-color;
    pointer-events: none;
  }
}
