@use "../../styles/variables" as v;

.neverlandui-menu {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 30px;
  list-style: none;
  border-bottom: v.$menu-border-width solid v.$menu-border-color;
  box-shadow: v.$menu-box-shadow;
  > .menu-item {
    padding: v.$menu-item-padding-y v.$menu-item-padding-x;
    cursor: pointer;
    transition: v.$menu-transition;
    &:hover,
    &:focus {
      text-decoration: none;
    }
    &.is-disabled {
      color: v.$menu-item-disabled-color;
      pointer-events: none;
      cursor: default;
    }
    &.is-active,
    &:hover {
      color: v.$menu-item-active-color;
      border-bottom: v.$menu-item-active-border-width solid
        v.$menu-item-active-color;
    }
  }
  .submenu-item {
    position: relative;
    .submenu-title {
      display: flex;
      align-items: center;
    }
    .arrow-icon {
      // 旋转动画
      transition: transform 0.25s ease-in-out;
      margin-left: 3px;
    }
    &:hover {
      .arrow-icon {
        transform: rotate(180deg);
      }
    }
  }
  .is-vertical {
    .arrow-icon {
      transform: rotate(0deg) !important;
    }
  }
  .is-vertical.is-opened {
    .arrow-icon {
      transform: rotate(180deg) !important;
    }
  }
  .neverlandui-submenu {
    // display: none;
    // opacity 会占据空间 用来做透明动画不好
    list-style: none;
    padding-left: 0;
    white-space: nowrap;
    // transition: $menu-transition;
    .menu-item {
      padding: v.$menu-item-padding-y v.$menu-item-padding-x;
      cursor: pointer;
      transition: v.$menu-transition;
      color: v.$body-color;
      &.is-active,
      &:hover {
        color: v.$menu-item-active-color !important;
      }
    }
  }
  .neverlandui-submenu.menu-opened {
    // display: block;
  }
}
.menu-horizontal {
  > .menu-item {
    border-bottom: v.$menu-item-active-border-width solid transparent;
  }
  .neverlandui-submenu {
    position: absolute;
    background: v.$white;
    z-index: 100;
    top: calc(100% + 8px);
    left: 0;
    border: v.$menu-border-width solid v.$menu-border-color;
    box-shadow: v.$submenu-box-shadow;
  }
}
.menu-vertical {
  flex-direction: column;
  border-bottom: 0px;
  margin: 10px 20px;
  border-right: v.$menu-border-width solid v.$menu-border-color;
  // > 是 直接子元素选择器
  > .menu-item {
    border-left: v.$menu-item-active-border-width solid transparent;
    &.is-active,
    &:hover {
      border-bottom: 0px;
      border-left: v.$menu-item-active-border-width solid v.$menu-item-active-color;
    }
  }
}
