@use "../../styles/variables" as v;

.neverlandui-form {
  .neverlandui-row { 
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    &.neverlandui-row-no-label {
      flex-direction: row-reverse;
    }
    .neverlandui-form-item-label {
      flex-basis: 30%;
      text-align: right;
      padding-right: 20px;
      >label {
        margin-bottom: 0;
      }
      >label.neverlandui-form-item-required:before {
        display: inline-block;
        margin-right: 4px;
        color: v.$danger;
        font-size: 14px;
        font-family: SimSun,sans-serif;
        line-height: 1;
        content: "*";
      }
    }
    .neverlandui-form-item { 
      flex-basis: 70%;
      position: relative;
      .neverlandui-input-wrapper {
        margin-bottom: 0;
      }
      .neverlandui-form-item-has-error.neverlandui-form-item-control {
        .neverlandui-input-inner {
          border: 1px solid v.$danger;
          &:focus {
            box-shadow: v.$input-focus-box-shadow-error;
          }
        }  
      }
      .neverlandui-form-item-explain {
        position: absolute;
        bottom: -25px;
        left: 0;
        line-height: 25px;
        color: v.$danger;
        min-width: 100px;
      }
    }
  }
  .neverlandui-form-submit-area { 
    display: flex;
    align-items: center;
    justify-content: center;  
  }

}